<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button id="menu" *ngIf="isLogin" (click)="drawer.toggle()" mat-icon-button><mat-icon>menu</mat-icon></button>
    <div style="margin-left: 1em;">
      <a routerLink="/" mat-raised-button color="accent">Trang chủ
  </a>
    </div>
      <div class="spacer">
    </div>
    <!-- <app-message [isLogin]="isLogin" [user]="user"></app-message> -->
    <div class="spacer">
    </div>
    <div >
      <!-- <app-searbar-v2></app-searbar-v2> -->
    </div>
    <div class="spacer">
    </div>
      <div style="margin-left: 1em;">
        <button *ngIf="isLogin==false" mat-raised-button color="accent" (click)="Login()">Đăng nhập</button>
        <a *ngIf="isLogin">
          <app-user  [user]="user"></app-user>
        </a>
      </div>
      <div style="margin-left: 1em;">
      
      </div>  
      <div style="margin-right: 2em;"></div>
</div>

<mat-drawer-container class="menu" autosize>
  <mat-drawer #drawer opened="false" mode="over" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button [routerLink]="['/Home']"><mat-icon>dashboard</mat-icon> Dashboard</button>
      </mat-list-item>

      <mat-list-item>
        <button id="allmanga" mat-button (click)="checkAndNavigateUser3()" [ngClass]="{'disabled-link': !isAdmin}"><mat-icon>collections_bookmark</mat-icon> Tất cả truyện</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/Mangas']" [queryParams]="{isPersonal: isPersonalManga}" ><mat-icon>book</mat-icon> Truyện cá nhân</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="checkAndNavigateUser5()" [ngClass]="{'disabled-link': !isAdmin}"><mat-icon>category</mat-icon> Thể loại</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="checkAndNavigateUser6()" [ngClass]="{'disabled-link': !isAdmin}"><mat-icon>style</mat-icon> Loại truyện</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="checkAndNavigateUser7()" [ngClass]="{'disabled-link': !isAdmin}"><mat-icon>person</mat-icon> Tác giả</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="checkAndNavigateUser8()" [ngClass]="{'disabled-link': !isAdmin}"><mat-icon>brush</mat-icon> Họa sĩ</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="checkAndNavigateUser()" [ngClass]="{'disabled-link': !isAdmin}"><mat-icon>group</mat-icon> Người dùng</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="checkAndNavigateUser4()" [ngClass]="{'disabled-link': !isAdmin}">
          <mat-icon matBadge="!" matBadgeColor="warn" matBadgeHidden="!hasNewReports">report_problem</mat-icon> 
          Báo cáo bình luận
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="checkAndNavigateUser2()" ><mat-icon>delete_forever</mat-icon> Truyện đã xóa</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>


  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px;">
      <div class="main">
        <router-outlet>
          
        </router-outlet> <!-- Đây là nơi để hiển thị nội dung của các route -->
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
