<div class="manga container">
    <div class="info row">
        <div class="col-6"><app-mangainfo [manga]="manga"></app-mangainfo></div>
        <div class="col-6">
            <app-listchapter [listchapter]="listchapter"></app-listchapter>
        </div>
    </div>
    <div class="comment row">
        <p>Comment field...Comment field ...Comment field ...Comment field ...Comment field ...
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...            CREATE src/app/mangacomponent/mangacomponent.component.ts (235 bytes)
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...    
        </p>
        <p>Comment field...Comment field ...Comment field ...Comment field ...Comment field ...
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...            CREATE src/app/mangacomponent/mangacomponent.component.ts (235 bytes)
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...    
        </p><p>Comment field...Comment field ...Comment field ...Comment field ...Comment field ...
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...            CREATE src/app/mangacomponent/mangacomponent.component.ts (235 bytes)
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...    
        </p><p>Comment field...Comment field ...Comment field ...Comment field ...Comment field ...
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...            CREATE src/app/mangacomponent/mangacomponent.component.ts (235 bytes)
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...    
        </p><p>Comment field...Comment field ...Comment field ...Comment field ...Comment field ...
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...            CREATE src/app/mangacomponent/mangacomponent.component.ts (235 bytes)
        Comment field...Comment field ...Comment field ...Comment field ...Comment field ...    
        </p>
    </div>
</div>