.image-sorter-container {
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.image-list {
  max-width: 1200px; /* Điều chỉnh chiều rộng tối đa theo nhu cầu */
  overflow-x: auto; /* Cho phép cuộn ngang nếu nội dung tràn ra */
  margin-bottom: 15px;
  margin: 0 auto;
}

.image-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: move;
}

.image-info {
  display: flex;
  align-items: center;
}

.image-index {
  font-weight: bold;
  margin-right: 15px;
}

.image-thumbnail {
  width: 100px;
  height: 120px; /* Thiết lập chiều cao cố định */
  object-fit: cover; /* Giữ hình ảnh phủ kín không bị méo */
  margin-right: 15px;
}

.image-name {
  flex-grow: 1;
}

.image-actions button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.image-actions input[type="text"] {
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 5px;
  width: 60px; /* Điều chỉnh theo nhu cầu */
}

.image-actions .delete-button {
  background-color: red;
}

.save-order {
  display: flex;
  justify-content: flex-end;
}

.save-order .btn-success {
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.navigation-buttons {
  position: fixed; /* Luôn hiển thị trên màn hình */
  bottom: 20px; /* Khoảng cách từ đáy màn hình */
  right: 20px; /* Khoảng cách từ cạnh phải màn hình */
  display: flex;
  flex-direction: column; /* Các nút được xếp dọc */
  align-items: center;
  z-index: 1000; /* Đảm bảo nút nằm trên cùng các thành phần khác */
}

.navigation-buttons .scroll-btn,
.navigation-buttons .position-input {
  margin-bottom: 10px; /* Khoảng cách giữa các nút và input */
  padding: 10px; /* Đệm cho nút và input */
  font-size: 20px; /* Phóng to mũi tên */
  text-align: center;
  width: 40px; /* Đảm bảo nút vuông vắn */
  height: 40px;
  line-height: 20px; /* Điều chỉnh độ cao của text để mũi tên nằm giữa */
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 50%; /* Làm cho nút tròn */
  cursor: pointer;
}

.navigation-buttons .position-input {
  width: 45px; /* Chiều rộng của input */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #007bff;
}

/* Định dạng lại khi input được focus */
.navigation-buttons .position-input:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}
/* Ẩn mũi tên cho các trình duyệt Webkit như Chrome và Safari */
.position-input::-webkit-outer-spin-button,
.position-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
