<!-- <div class="item" *ngFor="let truyen of danhsachtruyen" (click)="infomanga(truyen.mangaId)">
    <mat-card class="example-card" >
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{truyen.mangaName}}</mat-card-title>
            <mat-card-subtitle>{{truyen.mangaAlternateName}}</mat-card-subtitle>
            <img mat-card-sm-image [src]="truyen.mangaImage" >
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        {{truyen.mangaDetails}}
        </mat-card-content>
    </mat-card>
</div> -->

<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let truyen of danhsachtruyen" (click)="infomanga(truyen.mangaId)">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{truyen.mangaName}}</mat-card-title>
            <mat-card-subtitle>{{truyen.mangaAlternateName}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="truyen.mangaImage" alt="nothing">
          <mat-card-content>
            <p>
              {{truyen.mangaDetails}}
            </p>
          </mat-card-content>
         
        </mat-card>
      </div>
    </div>
  </div>