#layoutSidenav_content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#layoutSidenav_content main {
    flex-grow: 1;
    background-color: #f4f5f7;
    padding: 20px;
}

.container-fluid {
    max-width: 1200px;
    margin: auto;
}

.chart {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}
