<div mat-dialog-title>
    <h1>Category Form</h1>
</div>
<form [formGroup]="empForm" >
<div mat-dialog-content class="content">
    <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Tên thể loại</mat-label>
            <input matInput type="text" placeholder="Học Đường" formControlName="genresIdName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mô tả</mat-label>
            <input matInput type="text" formControlName="info">
          </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="closeAddEditForm()">Hủy</button>
    <button mat-raised-button color="primary" (click)="onFormSubmit()">{{data ? 'Cập nhập' : 'Thêm'}}</button>
</div>
</form>