<div mat-dialog-title>
    <h1>Manga Form</h1>
</div>
<form [formGroup]="empForm" >
<div mat-dialog-content class="content">
    <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Tên truyện</mat-label>
            <input matInput type="text" placeholder="Naruto" formControlName="mangaName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mô tả</mat-label>
            <input matInput type="text" formControlName="mangaDetails">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Tên khác</mat-label>
            <input matInput type="text" formControlName="mangaAlternateName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Tác giả</mat-label>
            <input matInput type="text" formControlName="mangaAuthor">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Họa sĩ</mat-label>
            <input matInput type="text" formControlName="mangaArtist">
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Kiểu truyện</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let typeManga of typeMangas" [value]="typeManga.id">
                {{ typeManga.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          

          <mat-form-field appearance="outline">
            <mat-label>Thể loại</mat-label>
            <mat-select formControlName="genres" multiple (selectionChange)="onGenreChange($event)">
              <mat-option *ngFor="let genre of genresList" [value]="genre.genreId">{{genre.genresIdName}}</mat-option>
            </mat-select>
          </mat-form-field>
          

          <div class="image-container">
            <img *ngIf="currentImage" [src]="currentImage" alt="Selected manga image" class="image-preview"/>
            <input type="file" accept="image/*" (change)="selectFile($event)" formControlName="mangaImage">
          </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="closeAddEditForm()">Hủy</button>
    <button mat-raised-button color="primary" (click)="onFormSubmit()">{{data ? 'Cập tạo' : 'Thêm'}}</button>
</div>
</form>