<footer class="footer py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="footer-content d-flex align-items-center justify-content-between small">
            <div class="footer-left">
                <div class="text-muted">&copy; 	Đồ án / Khóa luận tốt nghiệp 2023</div>
            </div>
            <div class="footer-right">
                <ul class="footer-links list-unstyled d-flex">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><span>&middot;</span></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
                <div class="social-links">
                    <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
